<main class="flex-shrink-0">
  <!-- Header-->
  <header class="py-5">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
          <div class="text-center my-5">
            <h1 class="fw-bolder mb-3">Nuestra Misión</h1>
            <p class="lead fw-normal text-muted mb-4">
              Los profundos cambios y transformaciones económicos observados a
              nivel mundial obligan a buscar nuevas fuentes de recursos y
              desarrollo, encontrando en el Arte y la Cultura una alternativa
              factible. En vistas a este panorama se han desarrollado en
              diferentes países exitosas experiencias de fomento de las
              Industrias de Base Cultural (IC), logrando importantes
              repercusiones no sólo en materia social sino también económica.
            </p>
            <a class="btn btn-success btn-lg" href="https://www.ispc.edu.ar/en/"
              >ISPC</a
            >
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About section one-->
  <section class="py-5 bg-body-tertiary" id="scroll-target">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <img
            class="img-fluid rounded mb-5 mb-lg-0"
            src="https://i.pinimg.com/564x/8e/30/4a/8e304aac188acd1f61943e58752a2115.jpg"
            alt="..."
          />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bolder">Nuestra Marca</h2>
          <p class="lead fw-normal text-muted mb-0">
            En M.A.S.C tenemos la misión de promover la industria cultural del
            país Otorgándoles a los artistas y emprendedores culturales en
            general, diferentes herramientas para la comercialización o difusión
            de sus obras o servicios. Proyecto para
            <a href="https://www.ispc.edu.ar/" class="text-muted">
              <u>ISPC</u></a
            >.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- About section two-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-first order-lg-last">
          <img
            class="img-fluid rounded mb-5 mb-lg-0"
            height="500px"
            width="300px"
            src="https://i.pinimg.com/564x/cf/1d/3f/cf1d3fc75c5f480dc49684d0ed903d6c.jpg"
            alt="..."
          />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bolder">
            La alta productividad de las actividades culturales...
          </h2>
          <p class="lead fw-normal text-muted mb-0">
            ... y sus innegables impactos en diferentes ámbitos de la economía,
            como por ejemplo el turismo, son una clara manifestación de la
            interconexión cultura-economía.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Team members section-->
  <section class="py-5 bg-body-tertiary">
    <div class="container px-5 my-5">
      <div class="text-center">
        <h2 class="fw-bolder">Nuestro Equipo</h2>
        <p class="lead fw-normal text-muted mb-5">
          Aspiramos a ser la plataforma digital con e-commerce más importante
          del país en materia de Industrias Creativas.
        </p>
      </div>
      <div
        class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center"
      >
        <div class="col mb-2 mb-2 mb-xl-0">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="https://avatars.githubusercontent.com/u/99340983?v=4"
              alt="..."
            />
            <h5 class="fw-bolder">Stefanía Jara</h5>
            <div class="fst-italic text-muted">Frontend - Dev</div>
          </div>
        </div>
        <div class="col mb-2 mb-2 mb-xl-0">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="https://avatars.githubusercontent.com/u/95236196?v=4"
              alt="..."
            />
            <h5 class="fw-bolder">Facundo Manuel Díaz Códoba</h5>
            <div class="fst-italic text-muted">Backend - Dev</div>
          </div>
        </div>
        <div class="col mb-2">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="https://avatars.githubusercontent.com/u/106122755?v=4"
              alt="..."
            />
            <h5 class="fw-bolder">Tamara Sorsaburu</h5>
            <div class="fst-italic text-muted">Frontend - Dev</div>
          </div>
        </div>
      </div>
      <div
        class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center"
      >
        <div class="col mb-2 mb-2 mb-xl-0">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="https://avatars.githubusercontent.com/u/87164629?v=4"
              alt="..."
            />
            <h5 class="fw-bolder">Maria Alejandra Rodriguez</h5>
            <div class="fst-italic text-muted">Frontend - Dev</div>
          </div>
        </div>
        <div class="col mb-2 mb-2 mb-xl-0">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="../../../../../assets/dev-avatar/juanca.jpg"
              alt="..."
            />
            <h5 class="fw-bolder">Juan Carlos Ojeda</h5>
            <div class="fst-italic text-muted">Backend - Dev</div>
          </div>
        </div>
        <div class="col mb-2 mb-2 mb-sm-0">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="https://avatars.githubusercontent.com/u/95983296?v=4"
              alt="..."
            />
            <h5 class="fw-bolder">Maximiliano Emanuel Cantarino</h5>
            <div class="fst-italic text-muted">Backend - Dev</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
