<div class="container">
  <div
    class="row flex-lg-row-reverse align-items-center justify-content-center g-3 mt-2 me-0 pe-0 hero px-4"
  >
    <div
      class="container col-10 col-sm-8 col-lg-6 center-important"
      style="max-width: 30%"
    >
      <img
        class="img-fluid rounded-3 animated bounce mt-2"
        height="300em"
        width="250em"
        src="https://masc-ispc.netlify.app/assets/img/Mano_Pinceles.png"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6 center-important p-4">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-success">Tienda MASC</h1>
      <p class="lead fw-bold">
        Iniciá Sesión o Registrate si aun no sos miembro de la comunidad, para
        empezar a comprar los productos que estas buscando
      </p>
      <div class="d-grid pb-5 gap-2 d-md-flex justify-content-md-start">
        <a type="button" class="btn btn-success p-2" href="/product#product">
          Ver Catálogo
        </a>
      </div>
    </div>
  </div>
</div>

<app-product-list id="product"></app-product-list>
