<div class="container-fluid p-0 m-0 pb-1 px-4" id="contact">
  <div class="container pt-0 pb-5 contact-container" id="contact">
    <h2 class="pb-2 pt-5 border-bottom mb-4">Contact</h2>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div>
          <form class="mb-2">
            <div class="input-group mb-3">
              <span class="input-group-text w-25">Name</span>
              <input
                type="name"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-25">Surname</span>
              <input
                type="surname"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-25">Email</span>
              <input
                type="email"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group pb-3">
              <span class="input-group-text w-25">Text</span>
              <textarea
                class="form-control"
                aria-label="With textarea"
                required
              ></textarea>
            </div>
            <input class="btn btn-success w-100" type="submit" value="Submit" />
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 mb-2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13621.008256102054!2d-64.1906638!3d-31.4071806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432998fa4b4357b%3A0xcf43bc8d04170a61!2sISPC%20Instituto%20Superior%20Polit%C3%A9cnico%20C%C3%B3rdoba!5e0!3m2!1sen!2sar!4v1686082660717!5m2!1sen!2sar"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
