<section class="d-flex flex-column">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-body-tertiary">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3"
                    >Nombre de Usuario</label
                  >
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4"
                    class="form-control"
                  />
                  <label class="form-label" for="form3Example4"
                    >Contraseña</label
                  >
                </div>

                <!-- Submit button -->
                <button
                  type="submit"
                  class="btn btn-success btn-block mb-4 text-center"
                >
                  Iniciar Sesión
                </button>
                <div class="mb-4 text-opacity-50">
                  ¿No estas registrado aún?
                </div>
                <button
                  type=" submit"
                  class="btn btn-success btn-block mb-4"
                  routerLinkg="/registro"
                >
                  Registrarse
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Bienvenidx! <br /><span class="text-success"> Inicia Sesión</span
            ><br />
            <span class="text-black text-opacity-50">Para ver tu Perfil</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            M.A.S.C. es una plataforma digital dedicada a la difusión de
            artistas y eventos culturales. Permite que los artistas de
            diferentes disciplinas puedan publicar sus obras y venderlas
            utilizando el sistema de tienda virtual implementado en la página.
            Además, los usuarios en general pueden informarse de las novedades
            de eventos, convocatorias, residencias, talleres de formación,
            concursos, entre otras noticias de ámbito cultural. Para no perderte
            nada acerca de la industria cultural, inicia sesión, y si todavía no
            tenés una cuenta regístrate gratis.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
